
body {background-color:white}

header {

      background-image: url(PetPlus.png);
      background-repeat: no-repeat;
      background-position: center;
      background-color: white;
      padding-left: 80px;
      padding-top: 10px;
      padding-bottom: 260px;
      border-bottom: black;
      border-radius: unset;
      border-bottom-style: solid;
      color:#1c0f07
      
  }


nav {

      border-radius: inherit;
      border-color: black;
      border-style: dotted;
      background-color: lightpink;
      font-size: x-large;
      font-family:'Times New Roman', Times, serif;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;
       
}

a {
       
      padding-right: 50px;

}

h1 {

      color: deeppink;
      font-size: xxx-large;
      font-family: Arial Black;
      font-stretch: extra-condensed;
      text-align: center;


}

main { 
      display: flex;
      justify-content: space-around;
  }
  
#sobre { 
              width: 60%;
              box-sizing: border-box;
              padding: 20px;
          }
  
  aside { 
        
            width: 30%; 
            box-sizing: border-box; 
            text-align: justify;
            font-size: x-large;
            background-color: lightpink;
            font-family: 'Times New Roman', Times, serif;
            padding-left: 40px;
            padding-right: 40px;
            margin-top: 66px;
            padding-top: 14px;
            margin-bottom: 6px;
              
}

  img { max-width: 100%;}


h3 {

    color: lightpink;
    text-align: left;
    font-size: xxx-large;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 21px;
    background-color: snow;
    margin-right: 480px;
    padding-left: 0px;
}


#Information {

      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 92px;
      margin-bottom: 92px;
      background-color: white;
      background-image: url("gatos1.jpg");
      background-repeat: no-repeat;
      background-position: right;
      background-color: lightcyan;
      border-style: solid;
      padding-bottom: 21px;

}

p {

      padding-top: 28px;
      padding-bottom: 28px;
      padding-left: 24px;

}

ul {
      margin-left: 53px;
}

li {
      padding-bottom: 10px;
}






button {

      color: black;
      font-size: 16px;
      text-align: left;
      border-style: double;
      border-radius: 0px;
      border-color: #1c0f07;
      background-color: lightblue;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 8px;
      padding-left: 8px;
      margin-left: 25px;

}

div {

      background-image: url("imagem\ de\ fundo\ botoes.jpg");
      background-repeat: no-repeat;
      background-position: right;

}




