
body {background-color:white}

header {

      background-image: url(Logo.png); 
      height: 550px;
      width: 420px;
      

}

section  {
        
      background-color: lightblue;
      text-align:justify
       
     
}












