
body {background-color:white}



section {

        animation-name: slide;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        background-color: lightblue;
        background-repeat: no-repeat;
        background-position: right; 
        padding-right: 697px;
        padding-left: 168px;
        background-repeat: no-repeat;
        text-align: justify;
        text-size-adjust: auto;

}

/* 3 imagens */
@keyframes slide {

        0% {background-image: url(raças\ de\ coelhos.png);}
        50% {background-image: url(raças\ de\ gatos.png);}
        100% {background-image: url(raças\ dos\ caes.png);}

}

section{

        






}


