body {margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px; 
    background-color: white ; 

}



header {

    background-image: url(PetPlus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 260px;
    border-bottom: black;
    border-radius: unset;
    border-bottom-style: solid;
    color:#1c0f07
    
}

nav {

    border-radius: inherit;
    border-color: lightblue;
    border-style: solid;
    background-color: lightpink;
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
     
}

a {
       
  padding-right: 50px;

}

h1 {padding-left: 32px;
    color:cornflowerblue}

h2 {color:cornflowerblue}

p {padding-left: 32px;
  font-size: larger;
  text-align: justify;}

main {padding-left: 32px;}

footer {

    background-color: lightpink;
   
  }

.insta {

    margin-left: 38px;
  margin-bottom: 0px;
  padding-bottom: 23px
  
}

@media(max-width: 413px) {body { width: 950px ;}}