body {margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; 
  background-color: white ; 

}

header {

  background-image: url(PetPlus.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 260px;
  border-bottom: black;
  border-radius: unset;
  border-bottom-style: solid;
  color:#1c0f07
  
}

nav {

  border-radius: inherit;
  border-color: lightblue;
  border-style: solid;
  background-color: lightpink;
  font-size: x-large;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
   
}

h1 {
  
    text-align: center;
    color: lightblue;
    background-color: azure;
    border-style: double;
    padding-top: 0px;
    margin-top: 12px;

}

h3 {
    margin-left: 22px;
    color: lightcoral;
    font-weight: bold;
    text-align: center;
    font-size:xx-large;
    font-family: monospace;

}

li {
  font-size: x-large;
  padding-bottom: 18px;
  margin-left: 28px;}

main { 
  display: flex;
  justify-content: space-around;
  margin-bottom: 84px;

}

#canino { 
          width: 60%;
          box-sizing: border-box;
          padding: 20px;
    

        }

        section#Canino {
          width: 65%;
      }


aside #Canino { 
        
  width: 70%; 
  box-sizing: border-box; 
  text-align: justify;
  font-size: x-large;
  background-color: lightpink;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 66px;
  padding-top: 14px;
  margin-bottom: 6px;
    
}

img { max-width: 100%;}

section#Felino {
  
            width: 35%;
            margin-top: 66px; }


aside #Felino { 
        
  width: 70%; 
  box-sizing: border-box; 
  text-align: justify;
  font-size: x-large;
  background-color: lightpink;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 66px;
  padding-top: 14px;
  margin-bottom: 6px;
    
}







